@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.head{
    font-family: 'IBMPlexSansKR-Regular';
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 30px;
}

.search{
    font-family: 'IBMPlexSansKR-Regular';
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

button{
    background-color: #CEE4FF;
    font-size: 17px;
    border-radius: 8px;
    border: 0;
    outline: 0;
}

.result{
    font-family: 'IBMPlexSansKR-Regular';
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.content{
    font-family: 'IBMPlexSansKR-Regular';
    display: inline-block;
    text-align: center;
    margin-top: 3%;
    margin-left: 42%;
}
.title{
    font-size: 22px;
}
#detail{
    font-size: 18px;
}
.content a:visited{
    color: #000;
}
.content a:hover{
    color: #007BFF;
}
a{
    text-decoration: none;
}