{% extends "base.html" %}
{% load static %}

{% block title %}일기쓰기{% endblock %}
{% block link %} {% static 'css/new.css' %}{% endblock %}
{% block content %}

<h1 class="title">오늘을 기록해주세요📝</h1>
<!-- <hr size="3px" noshade color="#e4e4e4"> -->
<div class="content">
    <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p id="diary_title">일기 제목 : <input type="text" name="title"></p>
        <p id="weather">오늘의 날씨 : <input type="text" name="weather"></p>
        <p id="body">내용 : <textarea name="body" cols="30" rows="10"></textarea></p>
        <p>이미지 : <input type="file" name="image" width="300" height="300" ></p>
        <button type="submit">작성 완료</button>
    </form>
</div>
{% endblock %}